.cocktails {
  text-align: center;
}

.cocktails_title {
  margin-bottom: 60px;
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  max-width: 320px;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: calc(42 / 22);

  color: #202025;

  @include tablet {
    margin-top: 68px;

    max-width: 493px;
    height: 38px;

    font-family: 'Roboto';
    font-weight: 700;
    font-size: 32px;
    line-height: calc(38 / 32);
  }

  @include desktop {
    margin-top: 68px;
    margin-bottom: 60px;

    max-width: 464px;
    height: 72px;

    font-weight: 700;
    font-size: 48px;
    line-height: calc(72 / 48);

    color: #000000;
  }
}

.cocktails_text {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 122px;

  max-width: 239px;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: calc(60 / 20);

  color: #202025;

  @include tablet {
    margin-bottom: 523px;
    max-width: 296px;

    font-size: 24px;
    line-height: calc(60 / 24);
  }

  @include desktop {
    max-width: 385px;
    height: 144px;

    margin-bottom: 472px;

    font-size: 32px;
    line-height: calc(72 / 32);
  }
}

// ----------------------------- ingredients -------------------------------//

.ingredients {
  text-align: center;
}

.ingredients_title {
  margin-bottom: 60px;
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  max-width: 320px;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: calc(42 / 22);

  color: #202025;

  @include tablet {
    margin-top: 68px;

    max-width: 493px;
    height: 38px;

    font-family: 'Roboto';
    font-weight: 700;
    font-size: 32px;
    line-height: calc(38 / 32);
  }

  @include desktop {
    margin-top: 68px;
    margin-bottom: 60px;

    max-width: 464px;
    height: 72px;

    font-weight: 700;
    font-size: 48px;
    line-height: calc(72 / 48);

    color: #000000;
  }
}

.ingredients_text {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 122px;

  max-width: 239px;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: calc(60 / 20);

  color: #202025;

  @include tablet {
    margin-bottom: 523px;
    max-width: 296px;

    font-size: 24px;
    line-height: calc(60 / 24);
  }

  @include desktop {
    max-width: 385px;
    height: 144px;

    margin-bottom: 472px;

    font-size: 32px;
    line-height: calc(72 / 32);
  }
}

//------------------------ Favorite cocktails-----------------------//

.favorite__title {
  margin-top: 60px;
  margin-bottom: 60px;

  text-align: center;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: calc(42 / 22);

  color: #202025;

  @include tablet {
    margin-top: 68px;

    font-family: 'Roboto';
    font-weight: 700;
    font-size: 32px;
    line-height: calc(38 / 32);
  }

  @include desktop {
    margin-top: 69px;

    font-family: 'Poppins';
    font-size: 48px;
    line-height: calc(72 / 48);

    color: #000000;
  }
}

.favorite__flex {
  display: flex;
  flex-wrap: wrap;
  @include tablet {
    gap: 32px;
  }
}

.favorite__border {
  max-width: 280px;
  height: 449px;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;

  border: 1px solid #fd5103;
  border-radius: 4px;

  @include tablet {
    max-width: 334px;
    height: 541px;

    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 20px;
  }

  @include desktop {
    max-width: 393px;
    height: 556px;
  }
}

.favorite__img {
  margin-bottom: 48px;
  height: 100%;
  max-width: 100%;

  display: inline-block;
  border-radius: 4px 4px 0px 0px;

  @include tablet {
    margin-bottom: 20px;
    height: 395px;
  }
}

.favorite__cocktail-name {
  margin-bottom: 16px;

  text-align: center;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  font-size: 26px;
  line-height: calc(42 / 26);

  color: #202025;

  @include tablet {
    margin-bottom: 25px;

    font-size: 28px;
    line-height: calc(33 / 28);
  }

  @include desktop {
    margin-bottom: 27px;

    font-size: 32px;
    line-height: calc(38 / 32);

    color: #000000;
  }
}

.favorite__cocktail-buttons {
  display: flex;
  justify-content: center;
  gap: 17px;
  margin-bottom: 24px;

  @include tablet {
    margin-bottom: 20px;
    gap: 12px;
  }

  @include desktop {
    margin-bottom: 28px;
    gap: 16px;
  }
}

.favorite__learn {
  width: 108px;
  height: 39px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);

  text-align: center;
  letter-spacing: 0.02em;

  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  color: #ffffff;

  @include tablet {
    width: 160px;
    height: 48px;

    font-size: 20px;
    line-height: calc(24 / 20);
  }
  @include desktop {
    width: 182px;
  }
}

.favorite__remove {
  width: 110px;
  height: 39px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);

  letter-spacing: 0.02em;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

  color: #fd5103;

  @include tablet {
    width: 123px;
    height: 48px;

    font-size: 20px;
    line-height: calc(24 / 20);
  }

  @include desktop {
    width: 141px;
    height: 48px;
  }
}

.favorite__plugination {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-right: auto;
  margin-left: auto;
  margin-bottom: 60px;

  width: 28px;
  height: 28px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(16 / 14);

  background: #fffbfb;
  border: 1px solid #fe7031;
  border-radius: 2px;

  @include tablet {
    display: none;
  }
}

// -----------------------------favorIngredients---------------------//

.favor-ingredients__title {
  text-align: center;

  margin-top: 60px;
  margin-bottom: 60px;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: calc(42 / 22);

  color: #202025;

  @include tablet {
    margin-bottom: 78px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: calc(38 / 32);
  }

  @include desktop {
    margin-top: 69px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: calc(72 / 48);
  }
}

.favor-ingredients__cards {
  // @include tablet {
  //   display: flex;
  // }
}

.favor-ingredients__border {
  max-width: 280px;
  height: 100%;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;

  border: 1px solid #fd5103;
  border-radius: 4px;

  @include tablet {
    max-width: 336px;
    margin-left: 0;
    margin-right: 0;
  }

  @include desktop {
    max-width: 395px;
  }
}

.favor-ingredients__cocktail-name {
  margin-bottom: 20px;
  margin-top: 20px;
  margin-left: 20px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  font-size: 26px;
  line-height: calc(42 / 26);

  color: #202025;

  @include tablet {
    margin-bottom: 28px;

    font-size: 28px;
    line-height: calc(33 / 28);

    color: #000000;
  }

  @include desktop {
    margin-top: 30px;
    margin-left: 28px;
    margin-bottom: 28px;

    font-size: 32px;
    line-height: calc(38 / 32);

    color: #202025;
  }
}

.favor-ingredients__ingredients-name {
  margin-left: 20px;
  margin-bottom: 20px;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: calc(21 / 14);

  text-transform: uppercase;

  color: #000000;

  @include tablet {
    margin-bottom: 28px;

    font-size: 16px;
    line-height: calc(24 / 16);

    color: #5f6775;

    text-transform: uppercase;
  }

  @include desktop {
    margin-left: 28px;
  }
}

.favor-ingredients__cocktail-buttons {
  margin-bottom: 20px;

  display: flex;
  justify-content: center;

  gap: 22px;

  @include tablet {
    gap: 12px;
  }

  @include desktop {
    margin-bottom: 26px;

    gap: 16px;
  }
}

.favor-ingredients__learn {
  width: 108px;
  height: 39px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);

  text-align: center;
  letter-spacing: 0.02em;

  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  color: #ffffff;

  @include tablet {
    width: 160px;
    height: 48px;

    font-size: 20px;
    line-height: calc(24 / 20);
  }

  @include desktop {
    width: 182px;
    height: 48px;
  }
}

.favor-ingredients__remove {
  width: 110px;
  height: 39px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);

  letter-spacing: 0.02em;

  color: #fd5103;

  @include tablet {
    width: 123px;
    height: 48px;

    font-size: 20px;
    line-height: calc(24 / 20);
  }

  @include desktop {
    width: 141px;
    height: 48px;
  }
}

.favor-ingredients__plugination {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-right: auto;
  margin-left: auto;
  margin-bottom: 60px;

  width: 28px;
  height: 28px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(16 / 14);

  background: #fffbfb;
  border: 1px solid #fe7031;
  border-radius: 2px;
}
