.favorite {
  text-align: center;
}

.favorite_title {
  margin-bottom: 60px;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: calc(42 / 22);

  color: #202025;
}

.favorite_text {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 122px;

  width: 239px;
  height: 120px;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: calc(60 / 20);

  color: #202025;
}
