.hero {

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative;
    padding-top: 60px;
    padding-bottom: 40px;

    @include tablet {
      display: block;
      padding-top: 77px;
      padding-bottom: 124px;
    }
    @include desktop {
      padding-top: 97px;
      padding-bottom: 171px;
    }
  }

  &__title {
    font-family: var(--base-font-family);
    font-weight: 600;
    line-height: 2;
    color:var(--second-text-color);

    max-width: 300px;
    font-size: 22px;
    margin-bottom: 60px;

    @include tablet {
      max-width: 336px;
      font-size: 26px;
      margin-bottom: 40px;
    }
    
    @include desktop {
      max-width: 688px;
      font-size: 52px;
    }
  }
  &__text{
  font-family: var(--base-font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 2;
  letter-spacing: 0.02em;

  margin-bottom: 20px;
  color: var(--main-text-color);
  opacity: 0.8;

  @include tablet {
    margin-bottom: 40px;
  }
  @include desktop {
    font-size: 18px;
  }
}
}


.hero-coctail {
  margin-bottom: 60px;
  @include tablet {
    margin-bottom: 0;
    position: absolute;
    top: 97px;
    right: 0;
  }

}


.hero-overlay {
  @media screen and(max-width: 767px) {
    height: 34px;
    border-radius: 4px;
    position: relative;
    overflow: hidden;
    
    transition-property: height;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:focus-within {
    height: 118px;
    }
    
  }
}
.hero-btn {
  display: none;
  @media screen and(max-width: 767px) {
    display: block;
    width: 93px;
    height: 34px;
    padding-right: 70px;;

    font-weight: 700;
    font-size: 16px;
    line-height: 135%;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;

    color: var(--second-text-color);
    background-color: var(--main-background-color);

    border: 1px solid var(--btn-border-color);
    border-radius: 4px;

    transition-property: color, background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:focus {
      color: var(--focus-text-bg-color);

      background-color:  var(--second-background-color);
    }

    &--arrow {
      display: block;
      width: 10px;
      height: 1px;
      top: 50%;
      left: 70%;

      background-color:  var(--second-background-color);
      position: absolute;
      transform: rotate(45deg);


      transition-property: background-color;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);


      &::after {
        content: '';
        display: block;
        left: 5px;
        bottom: 5px;
        width: 10px;
        height: 1px;
        background-color:  var(--second-background-color);
        position: absolute;

        transform: rotate(90deg);

        transition-property: background-color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      }
      .hero-btn:focus & {
        background-color: var(--focus-text-bg-color);
        
        &::after {
          background-color: var(--focus-text-bg-color);
        }

      }
    }
  }
}


.hero-search {
  @media screen and(max-width: 767px) {
    width: 93px;
    height: 84px;

    margin-top: 34px;
    border: 1px solid var(--btn-border-color);
    border-radius: 4px;
    overflow-y: scroll;

    transform: translatey(-100%);
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    .hero-btn:focus + & {
      transform: translatey(0%);
    }

    &::-webkit-scrollbar {
      width: 14px;
    }

    &::-webkit-scrollbar-thumb {
      height: 44px;
      background: var(--abc-text-color);
      border-radius: 50px;
      background-clip: content-box;
      border: 6px solid transparent;
    }
  }
  @include tablet {
    width: 324px;
  }
  @include desktop {
      width: 585px;
  }

  &__list {
  @include tablet {
    display: inline;
  }
}
}



.hero-search__btn {

  font-weight: 700;
  font-size: 10px;
  line-height: 1.5;


  color:  var(--abc-text-color);
  background-color:  var(--main-background-color);
  cursor: pointer;
  border: none;

  transition-property: color, text-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:focus,
  &:hover {
    color:  var(--second-text-color);
    text-shadow: 0px 4px 4px rgba(95, 103, 117, 0.25);
  }

  @media screen and(max-width: 767px) {
    width: 100%;
    height: 28px;

    padding: 0 50px 0 0;
    margin: 0;
  }
  @include tablet {
    width: 20px;
    font-size: 14px;
  }
  @include desktop {
    width: 40px;
    font-size: 24px;
  }

  &--el {
  @include tablet {
    margin-left: 26px;
  }
  @include desktop {
    margin-left: 45px;
  }
}
}

