.flex-container {
  display: flex;
  height: 5vh;
  justify-content: center;
  align-items: center;
}
// .Coctails-link {
//     text-decoration: none;
//     cursor: pointer;
// }
.show-modal {
  font-size: 2rem;
  font-weight: 600;
  padding: 1.75rem 3.5rem;
  margin: 5rem 2rem;
  border: none;
  background-color: #fff;
  color: #444;
  border-radius: 10rem;
  cursor: pointer;
}
.close-modal {
  position: absolute;
  top: 1.2rem;
  right: 2rem;
  font-size: 5rem;
  color: #333;
  cursor: pointer;
  border: none;
  background: none;
}
h1 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}
p {
  font-size: 1.8rem;
}
/* -------------------------- */
/* Specific to Modal */
.hidden {
  display: none;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 320px;
  height: 956px;
  background: #fcfcfc;
  padding: 6rem;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
  @media screen and (min-width: 768px) {
    width: 822px;
    height: 598px;
  }
}
.Coctails-pic {
  @media screen and (min-width: 768px) {
    position: absolute;
    width: 288px;
    height: 320px;
    left: 0px;
    top: 0px;
  }
}
.Coctails-title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 38px;
  /* Black */
  color: #202025;
  @media screen and (min-width: 768px) {
    position: absolute;
    width: 129px;
    height: 37px;
    left: 320px;
    top: 40px;
  }
}
.Coctails-instractions {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
  /* identical to box height, or 162% */
  text-transform: uppercase;
  color: #202025;
  margin-bottom: 20px;
  @media screen and (min-width: 768px) {
    position: absolute;
    width: 122px;
    height: 26px;
    left: 28px;
    top: 348px;
  }
}
.Coctails-description {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  /* or 175% */
  /* Gray */
  color: #5f6775;
  @media screen and (min-width: 768px) {
    position: absolute;
    width: 615px;
    height: 84px;
    left: 28px;
    top: 398px;
  }
}
.Coctails-ingredients {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */
  /* Main black */
  color: #000917;
  margin-top: 20px;

  @media screen and (min-width: 768px) {
    position: absolute;
    width: 103px;
    height: 24px;
    left: 320px;
    top: 105px;
  }
}
.Per-cocktail {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 21px;
  color: #202025;
  margin-top: 8px;
  @media screen and (min-width: 768px) {
    position: absolute;
    width: 80px;
    height: 21px;
    left: 320px;
    top: 137px;
  }
}
.Coctails-list {
  text-decoration: none;
  cursor: pointer;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #5f6775;
  margin-top: 4px;
  @media screen and (min-width: 768px) {
    position: absolute;
    width: 215px;
    height: 130px;
    left: 320px;
    top: 166px;
    padding-top: 4px;
  }
}
.Add-button {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  border: none;
  padding: 12px 24px;
  gap: 10px;
  background: #fd5103;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #fcfcfc;
  width: 185px;
  height: 48px;
  left: 0px;
  top: 0px;
  border-radius: 4px;
  justify-content: center;
  margin-top: 32px;
  @media screen and (min-width: 768px) {
    position: absolute;
    width: 248px;
    height: 48px;
    left: 539px;
    top: 488px;
  }
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}
