@import './utils/mixin';
@import './utils/variables';

@import './components/reset';
@import './components/base';
@import './components/buttons';
@import './components/pagination';
@import './components/switcher';

@import './common';
@import './header';
@import './hero';
@import './gallery';
@import './favourite';
@import './footer';

@import './modal-mobile';
@import './modal-favourite';
@import './modal-ingredients';
