@import '~node_modules/modern-normalize/modern-normalize.css';
h1,
h2,
h3,
h4,
p,
a,
ul,
li,
span {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}

ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

li {
  line-height: initial;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  border: none;
}

address {
  font-style: normal;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  background: #FCFCFC;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.container {
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-right: 32px;
    padding-left: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    padding-right: 16px;
    padding-left: 16px;
  }
}

.test_wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.div__desktop_learn-button {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-around;
  width: 222px;
  height: 218px;
  border: 1px dashed #9747ff;
  border-radius: 5px;
  background-color: #fcfcfc;
}

.button__learn_desktop {
  width: 182px;
  height: 48px;
  font-size: 20px;
  border: 0px solid transparent;
  border-radius: 4px;
  border-color: #f5f5f5;
  background: #fe7031;
  color: #ffffff;
}
.button__learn_desktop:hover {
  background-color: #f5f5f5;
  color: #fe7031;
}
.button__learn_desktop-pressed {
  background: #fd5103;
}

.div__desktop_add-button {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-around;
  width: 181px;
  height: 300px;
  border: 1px dashed #9747ff;
  border-radius: 4px;
  background-color: #fcfcfc;
}

.button__add_desktop {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 141px;
  height: 48px;
  font-size: 20px;
  border: 2px solid #fd5103;
  border-radius: 4px;
  background: transparent;
  color: #fd5103;
}
.button__add_desktop:hover {
  background-color: #f5f5f5;
  border: 1px solid #fd5103;
}
.button__add_desktop-pressed {
  background: #fd5103;
}

.div__desktop_favorite-button {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-around;
  width: 222px;
  height: 218px;
  border: 1px dashed #9747ff;
  border-radius: 5px;
  background-color: #fcfcfc;
}

.button__favorite_desktop {
  width: 185px;
  height: 48px;
  font-size: 20px;
  border: 0px solid transparent;
  border-radius: 4px;
  border-color: #f5f5f5;
  background: #fe7031;
  color: #ffffff;
}
.button__favorite_desktop:hover {
  background-color: #f5f5f5;
  color: #fe7031;
}
.button__favorite_desktop-pressed {
  background: #fd5103;
}

.div__desktop_remove_favorite-button {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-around;
  width: 288px;
  height: 218px;
  border: 1px dashed #9747ff;
  border-radius: 5px;
  background-color: #fcfcfc;
}

.button__remove_favorite_desktop {
  width: 248px;
  height: 48px;
  font-size: 20px;
  border: 0px solid transparent;
  border-radius: 4px;
  border-color: #f5f5f5;
  background: #fe7031;
  color: #ffffff;
}
.button__remove_favorite_desktop:hover {
  background-color: #f5f5f5;
  color: #fe7031;
}
.button__remove_favorite_desktop-pressed {
  background: #fd5103;
}

.hero__overlay {
  width: 93px;
  border-radius: 4px;
  position: relative;
  overflow: hidden;
}

.hero-btn__search {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  font-weight: 700;
  font-size: 16px;
  line-height: 135%;
  color: #FD5103;
  background-color: rgb(255, 255, 255);
  padding: 0;
  margin: 0;
  width: 93px;
  height: 34px;
  border: 1px solid #fd5103;
  border-radius: 4px;
}

.hero-abc__search {
  width: 93px;
  height: 84px;
  border: 1px solid #fd5103;
  border-radius: 4px;
  overflow-y: scroll;
  margin-top: 34px;
  transform: translatey(-100%);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-btn__search:focus + .hero-abc__search {
  transform: translatey(0%);
}
.hero-abc__search::-webkit-scrollbar {
  width: 14px;
}
.hero-abc__search::-webkit-scrollbar-thumb {
  height: 44px;
  background: #5f6775;
  border-radius: 50px;
  background-clip: content-box;
  border: 6px solid transparent;
}

.hero-abc__btn {
  font-weight: 700;
  font-size: 10px;
  line-height: 1.5;
  width: 100%;
  height: 28px;
  color: #5f6775;
  background-color: rgb(255, 255, 255);
  padding: 0 50px 0 0;
  margin: 0;
  border: none;
}

.favorite {
  text-align: center;
}

.favorite_title {
  margin-bottom: 60px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 1.9090909091;
  color: #202025;
}

.favorite_text {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 122px;
  width: 239px;
  height: 120px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 3;
  color: #202025;
}

.footer {
  width: 768px;
  height: 110px;
  left: 0px;
  top: 830px;
  background: #fd5103;
  border-radius: 0px;
}/*# sourceMappingURL=index.css.map */