:root {
  --main-text-color: #202025;
  --orange-text-color: #fd5103;
  --white-text-color: #ffffff;

  --main-background-color: #fcfcfc;
  --orange-background-color: #fd5103;

  --main-border-color: #FE7031;

  --base-font-family: Poppins, sans-serif;
  --primary-font-family: Roboto, sans-serif;

  --favorite-bg-color: #fffcfa;
  --filter-text-color: #5f6775;
}
