:root {
  --second-text-color: #fd5103;
  
  --focus-text-bg-color: #ffffff;
  --abc-text-color: #5f6775;

  --favorite-bg-color: #fffcfa;
  --second-background-color: #fd5103;

  --main-border-color: #FE7031;
  --btn-border-color: #fd5103;

  --base-font-family: Poppins, sans-serif;
  --primary-font-family: Roboto, sans-serif;

}


//  Главные цвета для светлой и темной темы

//   --main-text-color: #202025;
//   --filter-text-color: #5f6775;
//   --main-background-color: #fcfcfc;

