:root {
  --main-text-color: #202025;
  --filter-text-color: #5f6775;

  --main-background-color: #fcfcfc;

  --switch-light-color: #fd5103;;
  --switch-dark-color: #5f6775; ;

  --second-text-color: #fd5103;
  
  --focus-text-bg-color: #ffffff;
  --abc-text-color: #5f6775;

  --favorite-bg-color: #fffcfa;
  --second-background-color: #fd5103;

  --main-border-color: #FE7031;
  --btn-border-color: #fd5103;

  --base-font-family: Poppins, sans-serif;
  --primary-font-family: Roboto, sans-serif;

}

[dark] {
  --main-text-color: #fcfcfc;
  --filter-text-color: #bdbdbd;

  --main-background-color: #202025;

  --switch-light-color:#fcfcfc ;
  --switch-dark-color: #fd5103; ;
}
