<!-- <section>
  <div class="ingredients container">
    <h1 class="ingredients_title">Favorite ingredients</h1>
    <p class="ingredients_text">
      You haven't added any favorite ingredients yet
    </p>
  </div>
</section> -->

<section>
  <div class="favor-ingredients container">
    <h1 class="favor-ingredients__title">Favorite ingredients</h1>
    <ul class="favor-ingredients__border">
      <li>
        <h2 class="favor-ingredients__cocktail-name">Negroni</h2>
        <div class="favor-ingredients__cocktail-buttons">
          <button class="favor-ingredients__learn button__learn">
            Learn More
          </button>

          <button class="favor-ingredients__Remove button__remove_mobile">
            Remove
            <img
              class="favor-ingredients__heart"
              src="/src/images/Heart-white.svg"
              alt="Heart red and white"
              width="18"
              height="18"
            />
          </button>
        </div>
      </li>
    </ul>
    <div class="favor-ingredients__plugination">1</div>
  </div>
</section>
