<!-- <section>
  <div class="cocktails container">
    <h1 class="cocktails_title">Favorite cocktails</h1>
    <p class="cocktails_text">You haven't added any favorite cocktails yet</p>
  </div>
</section> -->

<!-- // ---------------- Страница избранных коктейлей ------// -->

<section>
  <div class="favorite container">
    <h1 class="favorite__title">Favorite cocktails</h1>
    <ul class="favorite__border">
      <li>
        <img
          class="favorite__img"
          src="/src/images/gallery/negroni-desk-x1.png"
          alt="cocktail negroni"
        />
        <h2 class="favorite__cocktail-name">Negroni</h2>
        <div class="favorite__cocktail-buttons">
          <button class="favorite__learn button__learn">Learn More</button>

          <button class="favorite__remove button__remove_mobile">
            Remove
            <img
              class="favorite__heart"
              src="/src/images/icons/Vector.png"
              alt="Heart red and white"
              width="18"
              height="18"
            />
          </button>
        </div>
      </li>
    </ul>
    <div class="favorite__plugination">1</div>
  </div>
</section>
