<section>
  <div class="container gallery">
    <h2 class="gallery__title">Cocktails</h2>

    <ul class="gallery__render-box">
      <li class="gallery__coctail_box">
        <picture class="gallery__coctail_img">
          <source
            srcset="
              ./images/gallery/negroni-desk-x1.png 1x,
              ./images/gallery/negroni-desk-x2.png 2x
            "
            media="(max-width: 1280px)"
            type="image/png"
          />
          <source
            srcset="
              ./images/gallery/negroni-tablet-x1.png 1x,
              ./images/gallery/negroni-tablet-x2.png 2x
            "
            media="(max-width: 768px)"
            type="image/png"
          />
          <source
            srcset="
              ./images/gallery/negroni-mobile-x1.png 1x,
              ./images/gallery/negroni-mobile-x2.png 2x
            "
            media="(max-width: 480px)"
            type="image/png"
          />

          <img
            src="./images/gallery/negroni-desk-x1.png"
            alt="cocktail negroni"
          />
        </picture>

        <h3 class="gallery__coctail_box-name">Negroni</h3>
        <div class="gallery__coctail_box-buttons">
          <button class="button__learn">Learn More</button>

          <button class="button__add">
            Add to
            <img
              class="heart__button"
              src="/src/images/Heart-white.svg"
              alt="Heart red and white"
            />
          </button>
        </div>
      </li>
    </ul>

    <div class="gallery__no-find-box">
      <picture class="gallery__coctail_img">
        <source
          srcset="
            ./images/gallery/no-find-deck-tab-1x.png 1x,
            ./images/gallery/no-find-deck-tab-2x.png 2x
          "
          media="(min-width: 1280px)"
          type="image/png"
        />
        <source
          srcset="
            ./images/gallery/no-find-deck-tab-1x.png 1x,
            ./images/gallery/no-find-deck-tab-2x.png 2x
          "
          media="(min-width: 768px)"
          type="image/png"
        />
        <source
          srcset="
            ./images/gallery/no-find-mob-1x.png 1x,
            ./images/gallery/no-find-mob-2x.png 2x
          "
          media="(max-width: 767px)"
          type="image/png"
        />

        <img src="./images/gallery/no-find-deck-tab-1x.png" alt="noFind" />
      </picture>
    </div>
  </div>
  <div class="container">
    <div class="pagination"></div>
  </div>
</section>
