<header class="header__section">
  <div class="container header__container">
    <div class="header__wrapper">
      <div class="header__logo">
        <a class="logo__link" href="./index.html">
          <img class="logo__img" src="./images/header__logo.svg" alt="logo__icon" width="123" height="34" />
        </a>
      </div>

      <nav class="header__nav-desktop">
        <ul class="nav-desktop__list">
          <li class="nav-desktop__item">
            <a class="nav-desktop__home nav-desktop__active" href="./index.html">
              Home
            </a>
          </li>
          <li class="nav-desktop__item nav-desktop__item--js">
            <a class="header__favorite__link" href="#">
              Favorite
              <svg class="nav__icon" width="20" height="20">
                <use href="/src/images/header__icons.svg#icon-arrow-up">
                </use>
              </svg>
            </a>
            <ul class="favorite__list">
              <li class="favorite__item">
                <a class="favorite__link" href="./partials/favourite-coctails.html">
                  Favorite cocktails
                </a>
              </li>
              <li class="favorite__item">
                <a class="favorite__link" href="./partials/favourite-ingredients.html">
                  Favorite ingredients
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </nav>
      <form class="header__search js-form-search">
        <button class="search__btn js-search-btn" type="submit"></button>
        <svg class="search__icon" width="24" height="24">
          <use href="/src/images/header__icons.svg#icon-search"></use>
        </svg>
        <input type="text" id="coctail-search" name="search" class="search__input js-input-search"
          placeholder="Search" />
      </form>
      <div class="switcher">
        <span class="switcher__light">Light</span>
        <label class="switcher__label">
          <input class="switcher__input" type="checkbox" onchange="handleChange(this.checked)" />
          <span class="switcher__switch"></span>
        </label>
        <span class="switcher__dark">Dark</span>
      </div>
      <div class="header__nav-mobile">
        <button class="nav-mobile__btn">
          <svg class="nav-mobile__icon" width="30" height="16">
            <use href="/src/images/header__icons.svg#icon-menu"></use>
          </svg>
        </button>
        <div class="nav-mobile__burger">
          <div class="burger__box">
            <div class="menu__logo">
              <img src="./images/header__logo.svg" width="123" height="34" alt="logo img" />
            </div>
            <div class="switcher-mob">
              <span class="switcher-mob__light">Light</span>
              <label class="switcher-mob__label">
                <input class="switcher-mob__input" type="checkbox" onchange="handleChange(this.checked)" />
                <span class="switcher-mob__switch"></span>
              </label>
              <span class="switcher-mob__dark">Dark</span>
            </div>
            <button type="button" class="burger__close">
              <svg class="close__icon" width="32" height="32">
                <use href="/src/images/header__icons.svg#icon-icon-close"></use>
              </svg>
            </button>

          </div>
        </div>

      </div>

    </div>
  </div>
</header>