<section class="hero">
  <div class="container">
    <h1 class="hero__title">A party without cocktails is not like a party</h1>
    
    <div class="hero-coctail">
      <picture class="hero-coctail__picture">
      <source
        srcset="
          /src/images/hero/hero-desk-x1.png 1x,
          /src/images/hero/hero-desk-x2.png 2x
        "
        media="(min-width: 1200px)"
        type="image/png"
      />
      <source
        srcset="
          /src/images/hero/hero-tablet-x1.png 1x,
          /src/images/hero/hero-tablet-x2.png 2x
        "
        media="(min-width: 768px)"
        type="image/png"
      />
      <source
        srcset="
          /src/images/hero/hero-mobile-x1.png 1x,
          /src/images/hero/hero-mobile-x2.png 2x
        "
        media="(max-width: 768px)"
        type="image/png"
      />

      <img src="/src/images/hero/hero-desk-x1.png" alt="cocktail" />
    </picture>
    </div>
    

    <p class="hero__text">Search your favorite cocktail by ABC</p>

    <div class="hero__overlay">
      <button class="hero-btn">1<span class="hero-btn--arrow"></span>
      </button>

      <div class="hero-abc__search">
        <ul class="hero-abc__list list">
          <li><button class="hero-abc__btn" type="button">A</button></li>
          <li><button class="hero-abc__btn" type="button">B</button></li>
          <li><button class="hero-abc__btn" type="button">C</button></li>
          <li><button class="hero-abc__btn" type="button">D</button></li>
          <li><button class="hero-abc__btn" type="button">E</button></li>
          <li><button class="hero-abc__btn" type="button">F</button></li>
          <li><button class="hero-abc__btn" type="button">G</button></li>
          <li><button class="hero-abc__btn" type="button">H</button></li>
          <li><button class="hero-abc__btn" type="button">I</button></li>
          <li><button class="hero-abc__btn" type="button">J</button></li>
          <li><button class="hero-abc__btn" type="button">K</button></li>
          <li><button class="hero-abc__btn" type="button">L</button></li>
          <li><button class="hero-abc__btn" type="button">M</button></li>
          <li><button class="hero-abc__btn" type="button">N</button></li>
          <li><button class="hero-abc__btn" type="button">O</button></li>
          <li><button class="hero-abc__btn" type="button">P</button></li>
          <li><button class="hero-abc__btn" type="button">Q</button></li>
          <li><button class="hero-abc__btn" type="button">R</button></li>
          <li><button class="hero-abc__btn" type="button">S</button></li>
          <li><button class="hero-abc__btn" type="button">T</button></li>
          <li><button class="hero-abc__btn" type="button">U</button></li>
          <li><button class="hero-abc__btn" type="button">V</button></li>
          <li><button class="hero-abc__btn" type="button">W</button></li>
          <li><button class="hero-abc__btn" type="button">X</button></li>
          <li><button class="hero-abc__btn" type="button">V</button></li>
          <li><button class="hero-abc__btn" type="button">Z</button></li>
          <li><button class="hero-abc__btn" type="button">1</button></li>
          <li><button class="hero-abc__btn" type="button">2</button></li>
          <li><button class="hero-abc__btn" type="button">3</button></li>
          <li><button class="hero-abc__btn" type="button">4</button></li>
          <li><button class="hero-abc__btn" type="button">5</button></li>
          <li><button class="hero-abc__btn" type="button">6</button></li>
          <li><button class="hero-abc__btn" type="button">7</button></li>
          <li><button class="hero-abc__btn" type="button">8</button></li>
          <li><button class="hero-abc__btn" type="button">9</button></li>
          <li><button class="hero-abc__btn" type="button">0</button></li>
        </ul>
      </div>
    </div>
  </div>
</section>
