<section class="hero">
  <div class="container hero__container">
    <h1 class="hero__title">A party without cocktails is not like a party</h1>

    <div class="hero-coctail">
      <picture class="hero-coctail__picture">
        <source
          srcset="
            ./images/hero/hero-desk-x1.png 1x,
            ./images/hero/hero-desk-x2.png 2x
          "
          media="(min-width: 1280px)"
          type="image/png"
        />
        <source
          srcset="
            ./images/hero/hero-tablet-x1.png 1x,
            ./images/hero/hero-tablet-x2.png 2x
          "
          media="(min-width: 768px)"
          type="image/png"
        />
        <source
          srcset="
            ./images/hero/hero-mobile-x1.png 1x,
            ./images/hero/hero-mobile-x2.png 2x
          "
          media="(max-width: 767px)"
          type="image/png"
        />

        <img src="./images/hero/hero-desk-x1.png" alt="cocktail" />
      </picture>
    </div>

    <p class="hero__text">Search your favorite cocktail by ABC</p>
    
    <div class="hero-overlay">
      <button class="hero-btn">A<span class="hero-btn--arrow"></span></button>

      <div class="hero-search">
        <ul class="hero-search__lists list">
          <li class="hero-search__list">
            <button class="hero-search__btn" type="button">A</button>
          </li>
          <li class="hero-search__list">
            <button class="hero-search__btn" type="button">B</button>
          </li>
          <li class="hero-search__list">
            <button class="hero-search__btn" type="button">C</button>
          </li>
          <li class="hero-search__list">
            <button class="hero-search__btn" type="button">D</button>
          </li>
          <li class="hero-search__list">
            <button class="hero-search__btn" type="button">E</button>
          </li>
          <li class="hero-search__list">
            <button class="hero-search__btn" type="button">F</button>
          </li>
          <li class="hero-search__list">
            <button class="hero-search__btn" type="button">G</button>
          </li>
          <li class="hero-search__list">
            <button class="hero-search__btn" type="button">H</button>
          </li>
          <li class="hero-search__list">
            <button class="hero-search__btn" type="button">I</button>
          </li>
          <li class="hero-search__list">
            <button class="hero-search__btn" type="button">J</button>
          </li>
          <li class="hero-search__list">
            <button class="hero-search__btn" type="button">K</button>
          </li>
          <li class="hero-search__list">
            <button class="hero-search__btn" type="button">L</button>
          </li>
          <li class="hero-search__list">
            <button class="hero-search__btn" type="button">M</button>
          </li>
          <li class="hero-search__list">
            <button class="hero-search__btn" type="button">N</button>
          </li>
          <li class="hero-search__list">
            <button class="hero-search__btn" type="button">O</button>
          </li>
          <li class="hero-search__list">
            <button class="hero-search__btn" type="button">P</button>
          </li>
          <li class="hero-search__list">
            <button class="hero-search__btn" type="button">Q</button>
          </li>
          <li class="hero-search__list">
            <button class="hero-search__btn" type="button">R</button>
          </li>
          <li class="hero-search__list">
            <button class="hero-search__btn" type="button">S</button>
          </li>
          <li class="hero-search__list">
            <button class="hero-search__btn" type="button">T</button>
          </li>
          <li class="hero-search__list">
            <button class="hero-search__btn" type="button">U</button>
          </li>
          <li class="hero-search__list">
            <button class="hero-search__btn" type="button">V</button>
          </li>
          <li class="hero-search__list">
            <button class="hero-search__btn" type="button">W</button>
          </li>
          <li class="hero-search__list">
            <button class="hero-search__btn" type="button">X</button>
          </li>
          <li class="hero-search__list">
            <button class="hero-search__btn" type="button">V</button>
          </li>
          <li class="hero-search__list">
            <button class="hero-search__btn" type="button">Z</button>
          </li>
          <li class="hero-search__list">
            <button class="hero-search__btn hero-search__btn--el" type="button">
              1
            </button>
          </li>
          <li class="hero-search__list">
            <button class="hero-search__btn" type="button">2</button>
          </li>
          <li class="hero-search__list">
            <button class="hero-search__btn" type="button">3</button>
          </li>
          <li class="hero-search__list">
            <button class="hero-search__btn" type="button">4</button>
          </li>
          <li class="hero-search__list">
            <button class="hero-search__btn" type="button">5</button>
          </li>
          <li class="hero-search__list">
            <button class="hero-search__btn" type="button">6</button>
          </li>
          <li class="hero-search__list">
            <button class="hero-search__btn" type="button">7</button>
          </li>
          <li class="hero-search__list">
            <button class="hero-search__btn" type="button">8</button>
          </li>
          <li class="hero-search__list">
            <button class="hero-search__btn" type="button">9</button>
          </li>
          <li class="hero-search__list">
            <button class="hero-search__btn" type="button">0</button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
