<section>
  <div class="flex-container-ingredients">
    <button class="show-modal-ingredients">
      Click Me to See the Modal Window Ingredients
    </button>
  </div>
  <div class="modal-ingredients hidden">
    <button class="close-modal-ingredients">&times;</button>
    <h1 class="Ingredients-title">Campari</h1>
    <h2 class="Ingredients-type">LIQUEUR</h2>
    <div class="Ingredients-line"></div>
    <p class="Ingredients-description">
      <span class="Type"> Campari </span> is an Italian alcoholic liqueur,
      considered an apéritif (20.5%, 21%, 24%, 25%, or 28.5% ABV, depending on
      the country in which it is sold), obtained from the infusion of herbs and
      fruit (including chinotto and cascarilla) in alcohol and water. It is a
      bitters, characterised by its dark red colour.
    </p>
    <ul class="Ingredients-list">
      <li>✶ Type: Bitters</li>
      <li>✶ Country of origin: Italy</li>
      <li>✶ Alcohol by volume: 20.5–28.5%</li>
      <li>✶ Flavour: Bitter, spicy and sweet</li>
    </ul>
    <button type="button" class="Ingredients-button">Add to favorite</button>
  </div>

  <div class="overlay-ingredients hidden"></div>

  <script src="/src/js/modal-ingredients.js"></script>
</section>
