<section>
  <div class="flex-container">
    <button class="show-modal-cocktail">Click Me to See the Modal Window Cocktail</button>
  </div>
  <div class="modal-cocktail hidden">
    <button class="close-modal-cocktail">&times;</button>
    <h1 class="Coctails-title">Negroni</h1>
    <h2 class="Coctails-instractions">Instractions:</h2>
    <p class="Coctails-description">
      Add the gin, Campari and sweet vermouth to a mixing glass filled with ice,
      and stir until well-chilled. Strain into a rocks glass filled with large
      ice cubes. Garnish with an orange peel.
    </p>
    <img
      src="/src/images/gallery/negroni-mobile-x1.png"
      alt="Negroni"
      width="280px"
      height="280px"
      class="Coctails-pic"
    />
    <h2 class="Coctails-ingredients">INGREDIENTS</h2>
    <p class="Per-cocktail">Per cocktail</p>
    <ul class="Coctails-list">
      <li class="">
        <a href="" class="Coctails-link"> ✶ Ice </a>
      </li>
      <li class="">
        <a href="" class="Coctails-link"> ✶ 1 ounce gin </a>
      </li>
      <li class="">
        <a href="" class="Coctails-link"> ✶ 1 ounce Campari </a>
      </li>
      <li class="">
        <a href="" class="Coctails-link"> ✶ 1 ounce sweet vermouth </a>
      </li>
      <li class="">
        <a href="" class="Coctails-link"> ✶ Garnish: orange peel </a>
      </li>
    </ul>
    <button type="button" class="Add-button">Add to favorite</button>
  </div>
  <div class="overlay hidden"></div>
  <script src="/src/js/modal.js"></script>
</section>
