<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>COCTAILS</title>
    <link rel="stylesheet" href="../sass/index.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&family=Roboto:wght@400;900&display=swap"
      rel="stylesheet"
    />
    <script type="module" src="../index.js"></script>
  </head>
  <include src="./partials/header.html"></include>
  <body>
    <!-- ❗️❗️❗️ Add partials like so for every page -->
<section class="container"> 
  <h2>Components desktop</h2>
    <div class="test_wrapper">
    <ul class="div__desktop_learn-button">
      <li><button class="button__learn_desktop">Learn More </button></li>
      <li><button class="button__learn_desktop">Learn More</button></li>
      <li><button class="button__learn_desktop">Learn More</button></li>
    </ul>

    <ul class="div__desktop_add-button">
      <li><button class="button__add_desktop ">Add to <img class="heart__button" src="/src/images/Heart-white.svg" alt="Heart red and white"></button></li>
      <li><button class="button__add_desktop">Add to <img class="heart__button" src="/src/images/Heart-white.svg" alt="Heart red and white"></button></li>
      <li><button class="button__add_desktop">Add to <img class="heart__button" src="/src/images/Heart-white.svg" alt="Heart red and white"></button></li>
    </ul>

    <ul class="div__desktop_favorite-button">
      <li><button class="button__favorite_desktop ">Add to Favorite</button></li>
      <li><button class="button__favorite_desktop">Add to Favorite</button></li>
      <li><button class="button__favorite_desktop">Add to Favorite</button></li>
    </ul>

     <ul class="div__desktop_remove_favorite-button">
      <li><button class="button__remove_favorite_desktop ">Remove from Favorite</button></li>
      <li><button class="button__remove_favorite_desktop">Remove from Favorite</button></li>
      <li><button class="button__remove_favorite_desktop">Remove from Favorite</button></li>
    </ul>

    <ul class="div__desktop_favorite-button">
      <li><button class="button__remove_desktop">Remove <img class="heart__button" src="/src/images/Heart-white.svg" alt="Heart red and white"></button></li>
      <li><button class="button__remove_desktop">Remove <img class="heart__button" src="/src/images/Heart-white.svg" alt="Heart red and white"></button></li>
      <li><button class="button__remove_desktop">Remove <img class="heart__button" src="/src/images/Heart-white.svg" alt="Heart red and white"></button></li>
    </ul>
    
</section>
<section class="container">
<h2>Components tablet</h2>
<div class="test_wrapper">
    <ul class="div__tablet_add-button">
      <li><button class="button__add_tablet">Add to <img class="heart__button" src="/src/images/Heart-white.svg" alt="Heart red and white"></button></li>
      <li><button class="button__add_tablet">Add to <img class="heart__button" src="/src/images/Heart-white.svg" alt="Heart red and white"></button></li>
      <li><button class="button__add_tablet">Add to <img class="heart__button" src="/src/images/Heart-white.svg" alt="Heart red and white"></button></li>
    </ul>

 <ul class="div__tablet_remove-button">
      <li><button class="button__remove_tablet">Remove <img class="heart__button" src="/src/images/Heart-white.svg" alt="Heart red and white"></button></li>
      <li><button class="button__remove_tablet">Remove <img class="heart__button" src="/src/images/Heart-white.svg" alt="Heart red and white"></button></li>
      <li><button class="button__remove_tablet">Remove <img class="heart__button" src="/src/images/Heart-white.svg" alt="Heart red and white"></button></li>
    </ul></div>
</section>

<section class="container">
<h2>Components mobile</h2>
<div class="test_wrapper">
    <ul class="div__mobile_add-button">
      <li><button class="button__add_mobile">Add to <img class="heart__button" src="/src/images/Heart-white.svg" alt="Heart red and white"></button></li>
      <li><button class="button__add_mobile">Add to <img class="heart__button" src="/src/images/Heart-white.svg" alt="Heart red and white"></button></li>
      <li><button class="button__add_mobile">Add to <img class="heart__button" src="/src/images/Heart-white.svg" alt="Heart red and white"></button></li>
    </ul>

 <ul class="div__mobile_remove-button">
      <li><button class="button__remove_mobile">Remove <img class="heart__button" src="/src/images/Heart-white.svg" alt="Heart red and white"></button></li>
      <li><button class="button__remove_mobile">Remove <img class="heart__button" src="/src/images/Heart-white.svg" alt="Heart red and white"></button></li>
      <li><button class="button__remove_mobile">Remove <img class="heart__button" src="/src/images/Heart-white.svg" alt="Heart red and white"></button></li>
    </ul></div>
</section>

</div>
  </body>
  <include src="./partials/footer.html"></include>
</html>
