.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
html,
body {
  height: 100%;
  background: var(--main-background-color);
  box-sizing: border-box;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1 1 auto;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.container {
  max-width: 100%;
  height: auto;
  padding-right: 20px;
  padding-left: 20px;
  margin: 0 auto;
  border: 2px solid blueviolet;

  @include mobile {
    max-width: 480px;
  }

  @include tablet {
    max-width: 768px;
    padding-right: 32px;
    padding-left: 32px;
  }
  @include desktop {
    max-width: 1280px;
    padding-right: 16px;
    padding-left: 16px;
  }
}
