.pagination {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: 45px;
  align-items: baseline;

  @include mobile {
  }
  @include tablet {
    gap: 12px;
  }
  @include desktop {
    gap: 13px;
  }
  &__button {
    width: 32px;
    height: 32px;
    background-color: var(--main-background-color);
    color: var(--orange-text-color);
    border-radius: 50%;
    font-size: 12px;
    border: 1px solid transparent;
    border-color: var(--main-border-color);
    margin-bottom: 39px;
    @include mobile {
    }
    @include tablet {
      width: 40px;
      height: 40px;
      font-size: 16px;
    }
    @include desktop {
      width: 40px;
      height: 40px;
      font-size: 16px;
    }
    &:hover {
      color: var(--main-background-color);
      background-color: var(--switch-light-color);
      cursor: pointer;
    }
    &-current {
      color: var(--main-background-color);
      background-color: var(--switch-light-color);
    }
  }
  &_points {
    color: var(--orange-text-color);
    font-size: 25px;
  }
  &__arrow-left {
    width: 20px;
    height: 20px;
    color: var(--switch-light-color);
    border-color: transparent;
    background-color: transparent;
    &:hover {
      cursor: pointer;
      // color: var(--button-text-color);
      background-color: var(--switch-light-color);
    }
  }
  &__arrow-right {
    // width: 8px;
    // height: 13px;
    color: var(--switch-light-color);
    border-color: transparent;
    background-color: transparent;
    &:hover {
      cursor: pointer;
      // color: var(--button-text-color);
      background-color: var(--switch-light-color);
    }
  }
}

.pagination__button-icon {
  fill: #5f6775;

  &:hover {
    fill: #202025;
  }
}
